.container {
  margin-top: 30px;
  border-top: 1px solid rgb(230, 230, 235);
  padding-top: 24px;
}

.stepContainer {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex: 0 0 100%
}

button {
  border-radius: 28px;
  border-width: 0px;
  height: 46px;
  display: flex;
  align-items: center;
}

.buttonNext {
  padding: 0;
  justify-content: center;
  color: white;
  font-weight: 500;
  background-color: #f67599;
  width: 174px;
  margin-left: auto;
}
.buttonPrevious {
  padding: 0;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  color: black;
}

img {
  margin: 0 12px;
}